<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as a Data Science Intern at
      <a class="underline-link" href="https://www.hudl.com/" target="_blank">Hudl</a> as a part of the Applied Machine Learning Team. 
      As a Data Science Intern I am working on Multi-Object Tracking using Deep Learning/Computer Vision. 
      I also work remotely as a Research Engineer at 
      <a class="underline-link" href="https://www.openmined.org/" target="_blank">Openmined</a> where I work on various problems in the field of multimodal learning, 
      neural architecture search, meta-learning. We try to work on Deep Learning solutions which maintain Data Privacy.
    </p>
    <p>
      I am pursuing a  Master's in Computer Science program with a focus in Machine Learning/Deep Learning at the University of Nebraska-Lincoln.
      I graduated with High Distinction/Magna Cum Laude from the 
      <a class="underline-link" href="https://cse.unl.edu/" target="_blank">University of Nebraska-Lincoln</a> with a Bachelor's Degree in Computer Science and Economics.
    </p>
    <p>
      I wish to work on research which tackles real problems and helps people. 
      I eventually want to work as a Research Scientist/Research Engineer so that I am able to come up with innovative solutions which improve peoples lives.
    </p>

    <p>
      If I am not working you can find me reading, cooking, playing sports or video-games. I love travelling but rarely find the time to do it.
    </p>

    {% include employment-status.html %}
  </div>
</section>
