<section class="section experience">
    <div class="section__title">Education and Certification</div>
    <div class="section__content">
      <div class="jobs">
        {% for ed in site.data.education %}
        <div class="job">
          <div class="time-place">
            <div class="job__company">
              <a href="{{ed.url}}" target="_blank", class='underline-link'>{{ed.company}}</a>
            </div>
            <div class="job__time">{{ed.time}}</div>
          </div>
          <div class="job__position">{{ed.degree}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  