<header class="intro">
  <h1 class="intro__hello">Hello World!
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Atharva Tendle</span>, a graduate student trying to utilize the power of 
                       Artificial Intelligence to make the world a better place!
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:atharva.tendle@huskers.unl.edu" target="_blank" class="highlight-link">Email</a>
    </span>
  </h3>
</header>
